body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #2b2e4a, #4c4c6d);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
}

.main-container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

.content {
    flex: 1;
    padding: 1rem;
}

.welcome-message {
    margin-bottom: 1rem;
}

.upload-section {
    background: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

#upload {
    color: black;
}

.question-section {
    margin-bottom: 1rem;
}

.answer-section {
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
}

.messenger {
    width: 240px;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}

button {
    background: #5a67d8;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #434190;
}

.question-section {
    display: flex;
    margin-bottom: 2rem;
}

#question, #message {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    overflow-x: scroll;
    margin-right: 0.4rem;
}

#message-section {
    display: flex;
    flex-direction: column-reverse;
    height: 240px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
}

#message-section p {
    margin: 5px 0;
}

#input-section {
    display: flex;
    margin-top: 10px;
}

#sendMsg {
    margin-right: 20px;
}